<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="connectionstring" value="Data Source=|DataDirectory|\\FDCDB.db;Version=3;Pooling=false;FailIfMissing=false;Max Pool Size=100"/>
    <add key="junyin" value="Server=106.14.32.113;Database=jydb;Uid=root;pwd=admin654;Pooling=true;MAX Pool Size=512;Min Pool Size=0;Connection Lifetime=80000;Character Set=utf8mb4;" />
    <add key="NowUse" value=""/>
    <add key="DefConnection" value=""/>
  </appSettings>
</configuration>